.program{
    &__header{
        font-size:40px;
        font-weight: bold;
        color:#6F6A6A;
    }
    &__contents{
        height: 600px;
        &__content{
            width:100%;
            background-size:cover;
            background-position:center;
            background-attachment:fixed;
            &__textbox{
                &__date{
                    &--day{
                        font-size: 5vw;
                        font-weight: bold;
                    }
                    &--date{
                        font-size: 3vw;
                    }
                }

                &__title{
                    &--title{
                        font-size: 1.3rem;
                        font-weight: bold;
                    }
                    &--lead{
                        font-weight: lighter;
                    }
                }
            }
        }
    }
}