.wrapper--top {
  background-image: url(/assets/image/background-top.png);
  background-color: #c8eaf9;
}

.fence-image {
  background-image: url(/assets/image/foreground-top-fence.png);
  background-size: cover;
  width: 100%;
  height: calc(647px * 0.3);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.person-image--top {
  background-image: url(/assets/image/foreground-top.gif);
  width: 100%;
  height: 850px;
}
